# Directories
.vs/
bin/
bin-int/
Hazel/vendor/
vendor/

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj

# Files
*.user
*.hint
Sandbox/*.json
Sandbox/imgui.ini
*.json
Hazelnut/imgui.ini
*.vcxproj
Hazel/vendor/imgui
Hazel/vendor/yaml-cpp
Hazelnut/assets/cache
Hazelnut/Hazel.log
